.contenedor {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100px;
}

.contenedor ul {
    list-style: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
    padding: 10px;
    margin-right: 20px;
}

.contenedor ul a {
    text-decoration: none;
    color: rgb(185, 185, 255);

}